/* Container geral */
.MuiBox-root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

/* Título */
h2 {
  background-color: #a80909ff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

/* Container do formulário */
.custom-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto 24px auto;
  padding: 20px 24px;
  background-color: #fafafa;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(168, 9, 9, 0.15);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Ajusta os inputs do MUI dentro do custom-box */
.MuiInputBase {
  display: flex;
  font-size: 14px;
  height: 54px;
  padding: 10px;
  box-sizing: border-box;
}

/* Ajusta os botões */
.custom-box .MuiButton-root {
  text-transform: none;
  font-weight: 14px;
  border-radius: 8px;
  padding: 8px 8px;
  transition: background-color 0.3s ease;
}

/* Botões primary */
.custom-box .MuiButton-contained {
  background-color: #a80909ff;
  color: white;
}

.custom-box .MuiButton-contained:hover {
  background-color: #bb0c0cff;
}

/* Botões outlined (ex: cancelar) */
.custom-box .MuiButton-outlined {
  border-color: #838383ff;
  color: #838383ff;
}

.custom-box .MuiButton-outlined:hover {
  border-color: #636363ff;
  color: #636363ff;
}
